/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
  margin: 0;
  place-items: center;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
}






@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #f0f8ff;
}

@media (max-width: 768px) {
  body {
    font-size: 16px; /* Zmniejszony rozmiar czcionki */
    padding: 10px; /* Marginesy wewnętrzne dla całego widoku */
  }

  h1 {
    font-size: 24px; /* Mniejszy nagłówek */
    text-align: center; /* Wyśrodkowanie tekstu */
  }

  p {
    font-size: 14px;
    line-height: 1.4; /* Ulepszone czytanie na małych ekranach */
  }

  button {
    width: 100%; /* Przyciski rozciągają się na całą szerokość */
    font-size: 16px; /* Mniejszy tekst na przycisku */
    padding: 12px; /* Zwiększone marginesy dla łatwiejszego kliknięcia */
  }

  img {
    max-width: 100%; /* Obrazki dostosowują się do szerokości ekranu */
    height: auto; /* Zachowanie proporcji */
  }
}

