/* Style dla ButtonList */
.button-list-container {
    margin-top: 120px; 
    text-align: center;
  }
  
  .przycisk {
    display: flex; /* Używamy flexboxa, aby wyrównać obrazek i tekst */
    align-items: center; /* Wyrównuje elementy pionowo */
    justify-content: center;
    width: 100%; 
    max-width: 500px; 
    margin: 60px auto; 
    padding: 20px 300px; 
    background-color: #003366; 
    color: white; 
    border: none;
    border-radius: 12px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; 
    gap: 30px;
  }
  
  .przycisk:hover {
    background-color: #00509e; /* Jaśniejszy niebieski podczas najechania */
    transform: scale(1.05); /* Lekkie powiększenie przy najechaniu */
  }
  
  .przycisk:active {
    background-color: #001f4d; /* Ciemniejszy niebieski podczas kliknięcia */
    transform: scale(0.95); /* Lekkie zmniejszenie przy kliknięciu */
  }

  .przycisk-img {
    width: 100px; /* Szerokość obrazka */
    height: 100px; /* Wysokość obrazka */
    object-fit: contain; /* Obrazek dopasowany bez deformacji */
    border-radius: 8px;
  }
  
  .przycisk-label {
    flex-grow: 1; /* Dostosowuje szerokość tekstu w stosunku do obrazka */
    text-align: center; /* Wyrównuje tekst, aby wyglądało naturalnie */
    line-height: 1.2;
  }