.spedycja-page-container {
    
    background-color: #f9f9f9; /* Opcjonalne tło */
  }
  
  .naglowek-page {
    text-align: center;
    font-size: 36px; /* Większy rozmiar nagłówka */
    font-weight: bold; /* Pogrubienie */
    color: #003366; /* Kolor nagłówka */
    margin-bottom: 20px; /* Odstęp od paragrafu */
    margin-top: 100px;
  }
  
  .paragraf-page {
    font-size: 18px; /* Rozmiar czcionki w paragrafie */
    line-height: 1.6; /* Większy odstęp między liniami */
    color: #555555; /* Kolor tekstu */
    max-width: 600px; /* Maksymalna szerokość tekstu */
  }
  