.page-container {
    background-color: #f0f8ff !important; 
  }

.naglowek-page {
    text-align: center;
    font-size: 36px; 
    font-weight: bold; 
    color: #003366; 
    margin-bottom: 20px; 
    margin-top: 100px;
  }
  
.paragraf-page {
    font-size: 18px; 
    line-height: 1.6; 
    color: #555555; 
    max-width: 600px; 
  }
  